@media screen and (min-width: 640px) {
    .container { max-width: calc(575px + 36px); }
}

@media screen and (min-width: 768px) {
    .container { max-width: calc(640px + 36px); }
}

@media screen and (min-width: 992px) {
    .container { max-width: calc(768px + 36px); }
}

@media screen and (min-width: 1024px) {
    .container { max-width: calc(991px + 36px); }
}

@media screen and (min-width: 1360px) {
    .container { max-width: calc(1240px  + 36px); }
}
/*MIN 1360 ENDS*/

@media screen and (min-width: 1440px) {
    .container { max-width: calc(1364px + 36px); }
}
/*MIN 1440 ENDS*/

@media screen and (min-width: 1600px) {
    .container { max-width: calc(1400px + 36px); }
}
/*MIN 1600 ENDS*/

@media screen and (min-width: 1800px) {
    .container { max-width: calc(1600px + 36px); }
}



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {}

@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1359px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}