@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ihhx4o');
  src:  url('fonts/icomoon.eot?ihhx4o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ihhx4o') format('truetype'),
    url('fonts/icomoon.woff?ihhx4o') format('woff'),
    url('fonts/icomoon.svg?ihhx4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compliance:before {
  content: "\e917";
}
.icon-contact-page-cancelling-sub:before {
  content: "\e913";
}
.icon-contact-page-ready-to:before {
  content: "\e914";
}
.icon-contact-page-need-help:before {
  content: "\e915";
}
.icon-live_help:before {
  content: "\e916";
}
.icon-archive-wprm:before {
  content: "\e903";
}
.icon-finalize:before {
  content: "\e907";
}
.icon-approved:before {
  content: "\e908";
}
.icon-review:before {
  content: "\e909";
}
.icon-draft:before {
  content: "\e90a";
}
.icon-contact-page-location:before {
  content: "\e90b";
}
.icon-contact-page-mail:before {
  content: "\e90c";
}
.icon-contact-page-call:before {
  content: "\e90d";
}
.icon-exit_to_app:before {
  content: "\e90e";
}
.icon-assistant_on_hub:before {
  content: "\e90f";
}
.icon-order_approve:before {
  content: "\e910";
}
.icon-grading:before {
  content: "\e911";
}
.icon-notificationIcon:before {
  content: "\e912";
}
.icon-archiveIcon:before {
  content: "\e904";
}
.icon-validationIcon:before {
  content: "\e905";
}
.icon-uploadIcon:before {
  content: "\e906";
}
.icon-locationIcon:before {
  content: "\e900";
}
.icon-mailIcon:before {
  content: "\e901";
}
.icon-calllcon:before {
  content: "\e902";
}
