:root {
    --inner-hero-bg: #441AC2;
}

::selection {
    background-color: var(--secondary);
    color: white;
}

.text-white { color: var(--white); }

.site-hero { min-height: 610px; background-color: var(--inner-hero-bg); display: flex; align-items: center; }
.hero-cont-wrapper { display: flex; align-items: center; justify-content: space-between;}
.hero-headings { width: 800px; }

.page-info { display: flex; justify-content: space-between; align-items: flex-start; }
.page-info .h3 { width: 630px; }
.page-info .h6 { width: 870px; }

.why-leads-headings { width: 760px; margin: 0 auto; text-align: center; }
.why-leads-lists { display: flex; padding-top: 60px; justify-content: space-around; }
.why-leads-list { 
    width: 500px; 
    height: 450px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 30px; 
    background-color: var(--purple-light); 
}

.why-leads-list img { margin-bottom: 40px; width: auto; height: 200px; }

.abt-roles-headings { text-align: center; }
.abt-roles-headings p { width: 700px; margin: 0 auto; }
.abt-roles-wrapper { display: flex; gap: 30px; margin-top: 60px; }
.role { width: 100%; transition: all 0.5s ease-in-out; padding: 20px; display: flex; flex-direction: column; justify-content: end; }
.active-role { width: 1170px; height: calc(100% - 20px); }
.click-roles .role { width: 400px; height: 210px; margin-bottom: 20px; }

.cro-bg-img { background-image: url('https://rarepixelsdesign.com/wp-content/uploads/2025/11/cro-role.webp'); background-repeat: no-repeat; background-size: cover; background-position: center; }
.labs-bg-img { background-image: url('https://rarepixelsdesign.com/wp-content/uploads/2025/11/labs-role.webp'); background-repeat: no-repeat; background-size: cover; background-position: center; }
.sites-bg-img { background-image: url('https://rarepixelsdesign.com/wp-content/uploads/2025/11/sites-role.webp'); background-repeat: no-repeat; background-size: cover; background-position: center; }
.sponsor-bg-img { background-image: url('https://rarepixelsdesign.com/wp-content/uploads/2025/11/sponsor-role.webp'); background-repeat: no-repeat; background-size: cover; background-position: center; }

.abt-roles-wrapper .btn-bg { background: rgba(255, 255, 255, 0.1);backdrop-filter: blur(30px); -webkit-backdrop-filter: blur(30px); }
.abt-roles-wrapper .btn-bg:hover { transform: scale(1); }
.role-content { padding: 20px; }
.role-content .h4 { margin-bottom: 20px; }
.click-roles .role, .click-roles .role-content { padding: 10px; }
.click-roles .role-content { transform: translateY(16px); }
.i-am-hidden-role { display: none; }

.sytmtc-comp-headings { text-align: center; }
.systematic-highlgts { padding-top: 100px; display: flex; align-items: center; justify-content: space-between; }
.systematic-pointers { display: flex; gap: 30px; }
.pointer-items:nth-child(2) { transform: translateY(-60px); }
.pointer-item { width: 310px; height: 260px; padding: 20px; }
.pointer-item:first-child { margin-bottom: 30px; }
.pointer-item .h5 { width: 60%; }

.security-list-wrapper { display: flex; align-items: center; justify-content: space-between; padding-right: 60px; }
.security-headings { width: 600px; }
.security-list { width: 600px; padding: 18px; display: flex; align-items: start; gap: 30px; }
.security-list:not(:last-child) { margin-bottom: 14px; }
.security-list:nth-child(even) { transform: translateX(60px); }
.security-list:nth-child(1) { border-left: 6px solid #053EFF; }
.security-list:nth-child(2) { border-left: 6px solid #FEAF06; }
.security-list:nth-child(3) { border-left: 6px solid #F8791E; }
.security-list:nth-child(4) { border-left: 6px solid #561FF9; }

.compli-icon, .list-icon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background: linear-gradient(135deg, #561FF9 0%, #7A68AE 100%); }
.compli-info { width: 470px; }

.proven-clinical-headings .h3 { margin-bottom: 20px; }
.info-paras { display: flex; align-items: flex-start; justify-content: space-between; }
.info-paras p:first-child { width: 40%; }
.info-paras p:last-child { width: 45%; }
.innovation-result { display: flex; align-items: center; justify-content: space-between; margin-top: 60px; }
.innov-list { width: 680px; }
.innov-list:not(:last-child) { margin-bottom: 30px; }
.innov-prog-bar { width: 100%; height: 6px; background-color: #B8B8B8; margin-top: 20px; }
.added-prog { display: block; height: 6px; position: relative; background: linear-gradient(135deg, #561FF9 0%, #7A68AE 100%); }
.forty-percnt { width: 40%; }
.sixty-percnt { width: 60%; }
.eighty-percnt { width: 80%; }
.ninety-nine-percnt { width: 99%; }
.hundred-percnt { width: 100%; }
.added-prog img { position: absolute; top: 0; right: 0; transform: translate(50%,-120%); }

.workflow-headings { width: 570px; }
.wf-tablist { width: 680px; height: 100px; display: flex; align-items: start; justify-content: space-between;}
.wf-tablist:not(:last-child) { margin-bottom: 20px; }
.wf-tab-info { width: 590px; }

.workflow-wrapper { display: flex; justify-content: space-between; align-items: flex-end; }

.wf-tab-icon { 
    width: 52px; 
    height: 52px; 
    position: relative; 
    background-color: var(--white); 
    font-size: 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.06);
}
.wf-tablist:not(:last-child) .wf-tab-icon::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: var(--light-grey);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
    border-radius: 3px;
}


.wf-tablist.active-tablist .wf-tab-icon, .wf-tablist.active-tablist .wf-tab-icon::before { background: linear-gradient(135deg, #561FF9 0%, #7A68AE 100%); color: var(--white); }
.wf-tablist.active-tablist .wf-tab-info .h5 { color: var(--secondary-purple-bluish); }


/* SOLUTIONS PAGE */

.strmlnd-ops-headings { text-align: center; }
.opertion-lists { padding-top: 60px; display: flex; justify-content: space-between; }
.opertion-list { width: 350px; height: 350px; padding: 20px 0 0 20px; }
.opert-list-title { position: relative;  }
.opert-list-title .h5 { width: 280px; padding-top: 40px; position: relative; z-index: 2; }
.opert-list-title .list-num { font-size: 200px; line-height: 160px; position: absolute; top: 0; right: 0; color: #F2F2F2; z-index: 1; }

.trail-ovrsgt-headings { width: 560px; }
.trail-ovrsgt-headings .h6 { width: 80%; }
.ovrsgt-lists { padding-top: 60px; display: flex; justify-content: space-between; }
.ovrsgt-list { width: 490px; height: 500px; display: flex; flex-direction: column; justify-content: space-between; }
.ovrsgt-list-titles { width: 90%; padding-top: 30px; }
.ovrsgt-list:nth-child(2) { transform: translateY(-100px); }
.ovrsgt-list:nth-child(3) { transform: translateY(calc(-100px * 2)); }

.features-lab-headings { width: 780px; text-align: center; margin: 0 auto; }
.features-lab-list-wrapper { display: flex; align-items: start; justify-content: space-between; padding-top: 60px; }
.featu-lab-butns { height: 350px; border-right: 2px solid rgba(126, 126, 126, 0.25); }
.feat-lab-btn { width: 370px; display: block; padding: 10px 0; text-align: left; padding-left: 3px; cursor: pointer; }
.feat-lab-btn.active-feat-btn { color: var(--secondary-purple-bluish); border-right: 4px solid var(--secondary-purple-bluish); transform: translateX(3px); padding-left: 0px; cursor: auto; }
.featu-lab-data { width: 1190px; height: 350px; background-color: var(--blue-light); } 
.featu-lab-item { height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0 20px; text-align: center; }
.feat-lab-mob-acrdn { display: none; }

section.trial-performance { padding-top: 0; }
.trail-prfmnc-headings { width: 820px; text-align: center; margin: 0 auto; }
.performace-glance { padding-top: 60px; }
.glance-list { width: 375px; height: 160px; padding: 20px; }
.glanc-list-icons { display: flex; align-items: center; justify-content: space-between; }
.glanc-list-icons .h4 { margin-bottom: 0; }
.glace-content .h6 { margin-bottom: 0px; margin-top: 20px; }
.glace-content p + p { color: var(--grey); }
.glance-lists { display: flex; align-items: center; justify-content: space-between; }

.blog-tablist { border: 1px solid rgb(199, 199, 199); padding: 6px; margin-bottom: 50px; width: max-content; }
.blog-category-select { padding: 8px 20px; }
.blog-category-select[data-state="active"] { border-radius: 8px; background-color: var( --secondary-purple-bluish) !important; color: white !important; }

.the-blog { width: 490px; height: 410px; }
.blog-image { position: relative; }
.blog-author { width: 100%; padding: 20px; padding-bottom: 10px; position: absolute; bottom: 0; }
.blog-author.btn-bg  { border-radius: 0; border: none; background: rgba(129, 129, 129, 0.5); backdrop-filter: blur(10px) !important; -webkit-backdrop-filter: blur(6px); }
.blog-author.btn-bg:hover { transform: scale(1); }
.name-designation { display: flex; justify-content: space-between; margin-bottom: 8px; }

.blog-image .hm-blog-arrow { position: absolute; top: 10px; right: 10px; }
.blog-glimps-cont { padding-top: 40px; }

.blog-list { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 60px; }

.foot-quick-links a:hover, .contact-infolinks a:hover { color: var(--secondary); }