@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    /* ABOUT PAGE */
    .page-img-hglt { width: 500px; }
    .page-info .h3 { width: 610px; }
    .page-info .h6 { width: 700px; }
    
    .why-leads-list { width: 450px; }
    .active-role { width: 1000px; }
    .click-roles .role { width: 370px; height: 200px; }
    .role-content .h4 { margin-bottom: 16px; }
    .role-content .h5 { font-size: 22px; line-height: 30px; }
    .systematic-img { width: 750px; }
    .pointer-item { width: 280; height: 250px; }
    .pointer-item .h5 { width: 70%; }

    .security-showcase { width: 720px; }
    .security-list { width: 580px; gap: 20px; }
    .compli-info { width: 440px; }

    .innov-list { width: 600px; }

    .opertion-list { width: 320px; }
    .opert-list-title .list-num { font-size: 160px; line-height: 140px; }

    .ovrsgt-list { width: 440px; }

    .featu-lab-data { width: 950px; height: 320px; }
    .featu-lab-butns { height: 320px; }

    .glance-list { width: 340px; }
    .the-blog { width: 425px; }

}

@media screen and (max-width: 1599px) {
    .section { padding: 120px 0; }
    .opertion-lists { padding-top: 30px; }
}

@media screen and (max-width: 1439px) {
    /* ABOUT PAGE */
    p { font-size: 16px; line-height: 24px; }

    .hero-headings { width: 700px; }

    .why-leads-list { width: 420px; height: 420px; padding: 30px 15px; }
    .why-leads-list { justify-content: space-between; }
    .why-leads-list img { margin-bottom: 30px; height: 160px; }

    .active-role {  width: 920px; }
    .click-roles .role { height: 190px; }
    .role-content .h4 { margin-bottom: 14px; }
    .role-content .h5 { font-size: 20px; line-height: 26px; }

    .systematic-img { width: 700px; }
    .pointer-item { width: 260px; height: 230px; }
    .pointer-item .h5 { width: 80%; }
    .security-showcase { width: 630px; }

    .ovrsgt-list { width: 420px; height: 460px; }
    .ovrsgt-list:nth-child(2) { transform: translateY(-70px); }
    .ovrsgt-list:nth-child(3) { transform: translateY(calc(-70px * 2)); }

    .feat-lab-btn { width: 340px; }
    .glance-list { width: 320px; }

    .proven-result { width: 640px; }
    .innov-list { padding-right: 40px; }
    .the-blog { width: 400px; }


}

@media screen and (max-width: 1359px) {
    .site-hero { min-height: 500px; }

    /* ABOUT PAGE */
    .hero-headings { width: 600px; }
    .page-img-hglt { width: 450px; }

    .page-info .h3 { width: 500px; }
    .page-info .h6 { width: 600px; }

    .why-leads-list { width: 370px; padding: 30px 10px; }
    .leads-list-text .h5 { width: 70%; margin: 0 auto; margin-bottom: 10px; }

    .abt-roles-wrapper { gap: 25px; }
    .active-role { width: 755px; }
    .click-roles .role { height: 160px; }
    .click-roles .role { background-position: top; }

    .systematic-img { width: 600px; }
    .systematic-pointers { gap: 20px; }
    .pointer-item:first-child { margin-bottom: 20px; }
    .pointer-item { width: 250px; height: 240px; }

    .security-headings { margin: 0 auto; margin-bottom: 20px; text-align: center; }
    .security-list-wrapper { flex-direction: column; gap: 50px; padding-right: 0; }
    .security-showcase { width: 800px; }
    .security-lists { display: flex; flex-wrap: wrap; align-items: start; justify-content: center; }
    .security-list:nth-child(even) { transform: translate(0); } 
    .security-list { width: 500px; }

    .opertion-list { width: 280px; }
    .opert-list-title .h5 { width: 100%; }
    .opert-list-title .list-num { font-size: 140px; line-height: 112px; }

    .ovrsgt-list { width: 360px; height: 430px  ; }

    .featu-lab-data { width: 770px; height: 290px; }
    .featu-lab-butns { height: 290px; }
    .feat-lab-btn { width: 300px; }
    .feat-lab-btn .h5 { font-size: 20px; line-height: 30px; }

    .glance-list { width: 270px; height: 180px; }

    .proven-result { width: 600px; }
    .innov-list { width: 500px; }
    .innov-prog-bar img { width: 70px; }
    .forty-percnt { width: 48%; }
    .the-blog { width: 340px; }


}

@media screen and (max-width: 1199px) {
    .section { padding: 100px 0; }

    /* ABOUT PAGE */
    .page-img-hglt { width: 360px; }
    .hero-headings { width: 575px; }  
    .page-info { flex-direction: column; text-align: center; }
    .page-info .h3 { width: 60%; margin: 0 auto; margin-bottom: 20px; }
    .page-info .h6 { width: 90%; margin: 0 auto; }
    
    .why-leads-list { width: 310px; }
    .leads-list-text .h5 { width: 90%; }
    
    .active-role { width: 650px; }
    .click-roles .role { width: 300px; height: 150px; }
    .role-content .h5 { font-size: 18px; line-height: 24px; }

    .systematic-highlgts { padding-top: 50px; }
    .systematic-highlgts { flex-direction: column; gap: 50px; }
    .pointer-items { display: flex; gap: 20px; }
    .pointer-items:nth-child(2) { transform: translate(0); }
    .pointer-item .h5 { width: 90%; }
    .pointer-item { width: 230px; height: 280px; }

    .compli-info { width: 345px; }
    .security-list { width: 460px; }

    .opertion-lists { flex-wrap: wrap; align-items: center; }
    .opertion-list { width: 45%; height: 300px; }
    .opert-list-title .h5 { width: 80%; }


    .ovrsgt-list-titles { width: 100%; }
    .ovrsgt-list { width: 310px; height: 410px; }

    .featu-lab-data { width: 640px; }
    .featu-lab-item .h2 { margin-bottom: 10px; }

    .glance-list { width: 230px; }

    .proven-result { width: 500px; }
    .innov-list { width: 440px; }
    .forty-percnt { width: 60%; }

    .the-blog { width: 460px; } 


}

@media screen and (max-width: 1023px) {
    .section { padding: 80px 0; }

    /* ABOUT PAGE */
    .hero-cont-wrapper { flex-direction: column; gap: 50px; }
    .hero-headings { width: 85%; text-align: center; }
    .page-img-hglt { width: 400px; }

    .active-role { width: 630px; }
    .strmlnd-ops-headings .h6 { width: 80%; margin: 0 auto; }

    .ovrsgt-list { width: 300px; height: 400px; }
    .featu-lab-data { width: 600px; }

    .info-paras { flex-direction: column; }
    .info-paras p:first-child, .info-paras p:last-child { width: 100%; }
    .proven-result { width: 450px; }
    .innov-list { padding-right: 30px; }

    .blog-list { gap: 30px; }
}

@media screen and (max-width: 991px) {
    .page-info .h3 { width: 70%; }

    .why-leads-lists { flex-direction: column; gap: 20px; }
    .why-leads-list { width: 100%; height: 250px; flex-direction: row; padding: 30px; text-align: left; }
    .leads-list-text { width: 460px; }
    .leads-list-text .h5 { width: 100%; }
    .why-leads-list img { margin-bottom: 0; }
    .why-leads-list:last-child img { width: 250px; height: auto; }

    .abt-roles-wrapper { flex-direction: column; }
    .active-role { width: 100%; height: 400px; }
    .abt-roles-wrapper { gap: 15px; }
    .click-roles { display: flex; gap: 15px; }
    .click-roles .role { margin-bottom: 0; }

    .systematic-img { display: none; }
    .systematic-pointers { gap: 30px; }
    .pointer-item:first-child { margin-bottom: 30px; }
    .pointer-items { flex-direction: column; gap: 0; }
    .pointer-item { width: 300px; height: 230px; }
    .pointer-item .h5 { width: 70%; }
    .pointer-items:nth-child(2) { transform: translateY(50px); }

    .security-showcase { width: 90%; }
    .compli-icon { display: none; }
    .compli-info { width: 100%; }
    .security-lists { gap: 10px; }
    .security-list { width: 375px; padding: 12px; }


    .opertion-lists { justify-content: space-between; }
    .opertion-list { width: 48%; height: 300px; }

    .trail-ovrsgt-headings { width: 100%; text-align: center; }
    .trail-ovrsgt-headings .h6 { margin: 0 auto; }
    .ovrsgt-lists { flex-direction: column; }
    .ovrsgt-list:nth-child(2), .ovrsgt-list:nth-child(3) { transform: translateY(0); }
    .ovrsgt-list { width: 100%; height: 240px; flex-direction: row-reverse; align-items: start; }
    .ovrsgt-list-titles { width: 40%; padding-top: 0; }
    .ovrsgt-list img { width: 50%; }

    .features-lab-list-wrapper { flex-direction: column; gap: 40px; overflow: hidden; }
    .featu-lab-butns { height: max-content; border: none; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;  gap: 20px; }
    .feat-lab-btn { width: 280px; padding: 20px; padding-top: 17px; border-bottom: 2px solid transparent; }
    .feat-lab-btn.active-feat-btn { padding: 20px; padding-top: 17px; border-bottom: 2px solid var(--secondary-purple-bluish); border-right: none;  transform: translateX(0px); }
    .feat-lab-btn .h5 { line-height: 10px; }
    .featu-lab-data { width: 100%; }
    .featu-lab-item { padding: 0 40px; }
   
    .trail-prfmnc-headings { width: 100%; }
    .glance-lists { flex-wrap: wrap; justify-content: center; gap: 30px; }
    .glance-list { width: 40%; }

    .innovation-result { flex-direction: column; gap: 30px; }
    .proven-result { width: 100%; height: 400px; object-fit: cover; object-position: top; }
    .innov-list { width: 700px; }
    .forty-percnt { width: 40%; }

    .the-blog { width: 380px; height: 390px; } 

}

@media screen and (max-width: 839px) {

    /* ABOUT PAGE */
    .hero-headings { width: 680px; }
    .why-leads-headings { width: 100%; }
    .leads-list-text { width: 380px; }

    .security-list { width: 320px; padding-left: 20px; }
    
    .opertion-list { height: 310px; }
    .features-lab-headings { width: 100%; }

    .the-blog { width: 350px; }

}

@media screen and (max-width: 767px) { 
    .section { padding: 60px 0; }

    p { font-size: 14px; line-height: 22px; }
    .text-18-ani { font-size: 16px; line-height: 26px; }
    .page-info { text-align: left; }
    .hero-headings { width: 100%; }
    .why-leads-headings { text-align: left; }
    .hero-headings p { width: 90%; margin: 0 auto; }
    .page-info .h3 { width: 80%; margin: 0; margin-bottom: 20px; }
    .page-info .h6 { width: 100%; }
    .why-leads-lists { padding-top: 30px; }
    .leads-list-text { width: 320px; }
    .why-leads-list { padding: 15px; flex-direction: row-reverse; }
    .why-leads-list img { width: 220px !important; height: auto; }

    .abt-roles-headings, .sytmtc-comp-headings { text-align: left; }
    .abt-roles-headings p { width: 100%; }
    .pointer-item { width: 280px; }

    .security-headings, .strmlnd-ops-headings .h6, .trail-ovrsgt-headings .h6 { text-align: left; width: 100%; }
    .security-list { width: 280px; }


    .opert-list-title .h5 { width: 90%; }
    .strmlnd-ops-headings, .trail-ovrsgt-headings, .features-lab-headings { text-align: left; }
    .ovrsgt-list-titles { width: 48%; }
    .ovrsgt-list img { width: 46%; height: 170px; object-fit: cover; border-radius: 10px; }
    .ovrsgt-list { height: 220px; }

    .trail-prfmnc-headings { text-align: left; }
    .performace-glance { padding-top: 40px; }
    .glance-lists { gap: 20px; }
    .glance-list { height: 160px; padding: 15px; }
    
    .innov-list { width: 550px; }

    .blog-category-select { padding: 10px; margin-right: 5px; }
    .the-blog { width: 280px; height: 340px; }
    .blog-glimps-cont .h5 { font-size: 18px; line-height: 26px; }
}

@media screen and (max-width: 639px) {
    .section { padding: 70px 0; }
    .page-info .h3 { width: 90%; }

    .leads-list-text { width: 280px; }
    .why-leads-list img { width: 160px !important; }

    .active-role { height: 360px; }
    .click-roles .role { height: 130px; }
    .role-content { padding: 15px; }
    .role-content .h5 { font-size: 16px; line-height: 24px; }
    .role-content .h4 { margin-bottom: 10px; }

    .pointer-item { width: 230px; height: 250px; }
    .pointer-item .h5 { width: 90%; }

    .security-lists { gap: 20px; }
    .security-list { width: 100%; }
    .security-list:not(:last-child) { margin-bottom: 0; }

    .opertion-list { width: 100%; height: 230px; }
    .strmlnd-ops-headings .h6 { width: 100%; }

    .ovrsgt-lists { gap: 40px; }
    .ovrsgt-list { flex-direction: column-reverse; gap: 20px; height: max-content; }
    .ovrsgt-list-titles { width: 100%; }
    .ovrsgt-list img { width: 100%; height: 200px; object-position: top; }

    .feat-lab-btn { width: 220px; padding: 10px }
    .feat-lab-btn .h5 { font-size: 16px; }
    .feat-lab-btn.active-feat-btn { padding: 10px; }

    .glance-list { width: calc(50% - 10px); }
    .innov-list { width: 500px; }
    .forty-percnt { width: 48%; }

    .the-blog { width: 100%; height: max-content; }

    /* .blog-tablist { width: 100%; display: flex; flex-direction: column; }
    .blog-tablist button { text-align: left; } */
 
}

@media screen and (max-width: 575px) {
    .page-img-hglt { display: none; }
    .site-hero { min-height: 370px; }

    .leads-list-text { width: 100%; }
    .why-leads-lists { gap: 10px; }
    .why-leads-list { height: 160px; padding: 20px; } 
    .why-leads-list img { display: none; }

    .click-roles .role { height: 100px; }
    .role-content p { font-size: 14px; line-height: 20px; }
    .active-role { height: 310px; }

    .systematic-pointers { flex-direction: column; }
    .pointer-items:nth-child(2) { transform: translate(0); }
    .pointer-item { width: 100%; height: 200px; }
    .pointer-items .pointer-item:nth-child(2) { transform: translateX(0%); }

    .opertion-list { height: 270px; }
    .strmlnd-ops-headings { text-align: left; }

    .featu-lab-butns { gap: 15px; }
    .feat-lab-btn { width: 210px; }
    .featu-lab-item { padding: 0 20px; }
    
    .trail-prfmnc-headings .h3 { margin-bottom: 10px; }
    .performace-glance { padding-top: 30px; }
    .glance-list { height: 165px; }

    .proven-result { height: 300px; }
    .innov-list { width: 400px; }
    .forty-percnt { width: 60%; }

}

@media screen and (max-width: 480px) {
    .site-hero { min-height: 320px; }

    .page-info .h3 { width: 100%; }
    .page-info { text-align: left; }
    .security-showcase { display: none; }

    .feat-lab-btn { width: 180px; }
    .feat-lab-btn .h5 i { display: none; }

}

@media screen and (max-width: 459px) {
    .why-leads-list { height: max-content; }
    .features-lab-list-wrapper { display: none; }
    .feat-lab-mob-acrdn { display: block; }
    .feat-lab-mob-acrdn .accord-item { padding: 10px; }
    .accord-trigr { padding-left: 10px; }
    .accord-trigr .h5 { margin-bottom: 20px; }
    .accord-item .h5 { font-size: 20px; line-height: 28px; }
    
    .glance-list { width: 100%; height: 140px; }
    .innovation-result { margin-top: 30px; }
    .innov-list { width: 300px; padding-right: 10px; }

    .forty-percnt { width: 67%; }
    .sixty-percnt { width: 80%; }
    .eighty-percnt { width: 90%; }
    .ninety-nine-percnt { width: 99%; }
    .hundred-percnt { width: 100%; }

}

@media screen and (max-width: 400px) {  

    @keyframes roleSlider {
        0% { transform: translateX(0); }
        100% { transform: translateX(-1260px); }
    }

    .click-roles { flex-direction: column; }
    .click-roles .role { width: 100%; height: 310px; padding: 20px; }
    .click-roles .role-content { transform: translateY(0); padding: 15px; }
    .role-content p:first-child { font-size: 24px; line-height: 34px;  }
    .role-content .h4 { margin-bottom: 0; }
    .role-content .h5 { display: none; }

    .abt-roles-wrapper, .click-roles { flex-direction: row; }
    .role { width: 300px !important; }
    .i-am-hidden-role { display: flex; }

    .abt-user-roles { overflow: hidden; }
    .abt-roles-wrapper { margin-top: 40px; animation: roleSlider 10s linear infinite; }

    .pointer-item { height: 100%; }

    .opert-list-title .h5 { padding-top: 20px; }
    .opertion-list { height: 250px; padding-left: 0; }
 

}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}